
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <h3>добавления</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p>Введите задачу</p></td>
                    <td><input type="text" name="TaskName" /> </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
