@using Test.Models;
@model IEnumerable<Task>
@{
    Layout = null;
}
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ToDo List</title>
    </head>
    <body>
        <div>
            <h3>Список задач</h3>
            <p><a href="/Home/Add">Добавить задачу</a></p>
            <table>
                <tr>
                    <td><p>Задача</p></td>
                    <td><p>Выполнено</p></td>
                    <td><p>Редактировать</p></td>
                    <td><p>Удалить</p></td>
                </tr>
                @foreach (var b in Model)
                {
                    <tr>
                        <td><p>@b.TaskName</p></td>
                        <td><p>@b.TaskDone</p></td>
                        <td><p><a href="/Home/Edit/@b.Id">Редактировать</a></p></td>
                        <td><p><a href="/Home/Delete/@b.Id">Удалить</a></p></td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
        
    </body>
</html>